# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Django related files
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Dependency directories
venv/
env/
.env/
pipenv/

# IDE files
.vscode/
.idea/
