[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.3"
requests = ">2.0.0"
black = "*"
isort = "*"
ruff = "*"

[dev-packages]

[requires]
python_version = "3.12"
