[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = ">2.0.0"
black = "*"
isort = "*"
ruff = "*"
httpx = "*"
django-stubs = "*"

[dev-packages]

[requires]
python_version = "3.12"
